.input {
  background-color: transparent;
  border: 0.2px solid #bcbcbc;
  border-radius: 5px;
  height: 3rem;
  margin-bottom: 0.3rem;
  padding: 0.3rem 0.5rem;
  color: var(--font-color);
  font: 400 1rem / 1 var(--font-family);
  display: block;
  height: 2.5rem;
}
.input:focus {
  outline-color: var(--main-color);
}

.label {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.error {
  display: block;
  color: red;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 0.3rem;
}

.small {
  width: 40%;
}

.medium {
  width: 70%;
}

.large {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .label {
    font-size: 16px;
    line-height: 24px;
  }
}
