.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.img_container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 104px;
}

.image2 {
  grid-row: 2;
  position: absolute;
  width: 50%;
  top: 46px;
  left: 0;
}

.image3 {
  width: 50%;
  position: absolute;
  top: 74px;
  right: 0;
}

.form_container {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 104px);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  padding: 1rem;
  row-gap: 1rem;
}

.form > h1 {
  text-align: start;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #111111;
  padding-top: 1rem;
}

.input_name {
  height: 55px;
  border: 1px solid #bcbcbc;
}
.cont_input_file {
  min-height: 163px;
  margin: 0 auto;
  text-align: center;
  border: 1px dashed #bcbcbc;
}

.input_file {
  border: none;
}

.drag_area {
  border: 1px dashed #bcbcbc;
  width: 357px;
  height: 163px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .container {
    background-color: #bababa;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 473px;
    height: 591px;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    row-gap: 0;
  }

  .form > h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
